annotated-types
anyio
click
colorama
fastapi
greenlet
h11
idna
numpy
opencv-python
pillow
psycopg2-binary
pydantic
pydantic_core
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
